{#
/**
 * @file
 * Default theme implemention of comments.
 *
 * 可用的变量:
 * - author: 作者
 * - created: 评论时间
 * - user_picture: 用户头像
 * - title: 评论内容
 */
#}
<article{{ attributes }}>
  {{ user_picture }}
  <p class="sms">{{ author }}</p>
  <p class="sms">{{ title }}<span>&#12288;&#12288;{{ created }}</span></p>
  <div class="reply">
    {% if current_uid != comment_uid %}
    <a href="javascript:;" rel="{{ comment_username }}">回复</a>
    {% endif %}
  </div>
</article>
