<article{{ attributes }}>
  <div class="user_pic">{{ user_picture }}</div>
  <div class="user_text">
    <p class="sms">{{ title }}</p>
    <p>{{ author }}<span>{{ created }}</span></p>
  </div>
</article>
