<div class="home_top_box">
  <div class="home_top_bg">
    <div class="home_title">
      <span class="opacity_bg"></span>
      <div class="user_pic">
        {{ picture }}

        <ul class="record">
         <li class="follow">
          <a title="关注" href="{{ follows_url }}"><span class="red18">{{ follow_count }}</span><span>关注</span></a>
         </li>
         <li class="fans">
          <a title="粉丝" href="{{ fans_url }}"><span class="red18">{{ account.fans_count }}</span><span>粉丝</span></a>
         </li>
        </ul>
      </div>

      <div class="user_name">
        <h1>{{ account.nickname }}</h1>
       
        <p class="describe">
         {% if account.sex==0 %}
		 <span class="male">男</span>
         {% else %} 
		 <span class="female">女</span>
         {% endif %}
         {{ account.signature.value }}
        </p>
        <p class="btn">
          {%if itsme %}
          <a class="annew01" href="{{ account_edit_url }}">账号设置</a><a class="red ajax-dialog" href="" dialog-width="785" data-title="晒宝贝" data-url="{{ share_dialog_url }}">我要晒宝贝</a>
          {% else %}
          <a class="red follow" href="{{ follow_url }}" uid="{{ account.id }}">+ 关注</a>
          {% endif %}
        </p>
      </div>
    </div>
  </div>

  {% if links %}
  <div class="home_top_nav">
    {{ links }}
  </div>
  {% endif %}
</div>

