<article{{ attributes }}>
  {% if picture %}
  <div class="pic"><a target="_blank" href="{{ coupon_url }}" title="{{ picture.alt }}">{{ picture }}</a></div>
  {% endif %}
  <div class="txt">
    <p><a target="_blank" href="{{ coupon_url }}" class="title">{{ label }}</a></p>
  </div>
</article>
