{#
/**
* @file
*
* Variables:
*  @ad_banner_top: 首页banner广告
*  @ad_turn_pic: 首页轮播广告
*  @ad_coupon_remote_top:首页周边热点排行
*  @ad_coupon_new: 首页最新商家优惠
*  @ad_shop: 品牌商家 
*  @ad_share: 网购流行榜
*  @ad_share_sigle_list: 最新淘宝单体
*  @ad_coupon_relist:精选优惠推荐
*  @ad_share_group_buy: 热门团购
*
* see template_preprocess_front_page($variables).
*/
#}

{{ ad_banner_top }}
<div class="wrap_border col space">
  <div class="focuspic">
    {{ ad_turn_pic }}
  </div>
  <div class="toplist">
    <h3>周边热点排行</h3>
    {{ ad_coupon_remote_top }}
  </div>
</div>

<div class="wrap_border col space">
   <div class="newsale">
    <h2><a target="_blank" href="{{ links.coupon_link }}" class="title">最新<strong>商家优惠</strong></a><a class="more" target="_blank" href="{{ links.coupon_link }}">更多</a></h2>
    {{ ad_coupon_new }}
   </div>
   <div class="shoplist">
    <h3>品牌商家</h3>
    <div class="shop_ad">
    {{ ad_shop}}
    </div>
   </div>
   <div class="buylist">
    <h3>网购流行榜</h3>
    {{ ad_share}}
   </div>
</div>

<div class="wrap_border col space">
   <div class="single_tb">
    <h2>
     <a target="_blank" href="{{ links.share_link }}" class="title">最新<strong>淘宝单品</strong></a>
     <ul class="classify">
     {% for item in  remote_share_catalogs %}
      <li><a target="_blank" href="{{ item.link }}">{{ item.title }}</a></li>
     {% endfor %}
     </ul>
     <a class="more" target="_blank" href="{{ links.share_link }}">更多</a>
    </h2>
    <div class="singlelist">
    {{ ad_share_sigle_list }}
    </div>
   </div>
   <div class="relist">
    <h3>精选优惠推荐</h3>
    {{ ad_coupon_relist}}
   </div>
</div>

<div class="wrap_border col space">
   <div class="groupbuy">
    <h2><a target="_blank" href="{{ links.eidtor_share }}" class="title">编辑<strong>推荐</strong></a>
    <a class="more" target="_blank" href="{{ links.eidtor_share }}">更多</a></h2>
    <div class="share-list">
      {{ ad_share_group_buy }}
    </div>
   </div>
   <div class="ad_rightbottom">
    <a href="http://www.gsw100.com/phone"><img src="{{ current_theme_path }}/images/ad_phonedown.jpg"></a>
   </div>
</div>
