{#
/**
 * @file
 * Default theme implementation to display a share.
 *
 * Available variable:
 * - share: Full share entity.
 */
#}
<article class="{{ attributes.class }}"{{ attributes }}>
      <div class="img_box">
          <div class="price">{{ price }}</div>
          <a class="img" target="_blank" href="{{ share_url }}" title = "{{picture.title}}">
            {{ picture }}
          </a>
      </div>
      <div class="comm_box">
          <p>
          <span class="collect"><a target="_blank" href="{{ bookmark_url }}" class="bookmark" sid="{{ share.sid.value }}">喜欢</a><span class="view_count" style="float:right"> {{ share.bookmark_count.value }} </span></span>
              <span class="discuss"><a href="{{ share_url }}">评论({{ share.comment_count.value }})</a></span>
          </p>
          <p class="ly">编辑推荐理由：</p>
          <p class="lycon">{{ label }}</p>
      </div>
</article>
