<div class="assort wrap_border space" exit-target=".open">
  <div class="assortlist">
    <label>分类</label>
    <a class="all" href="{{ shares_url }}">全部</a>
    {{ catalogs }}
  </div>
  <div class="open">
  {% if sub_catalogs %}
    {{ sub_catalogs }}
  {% endif %}
  </div>
</div>

{{ shares }}

{% if pager %}
<div class="page_number">
  <div class="pageNav">
    {{ pager }}
  </div>
</div>
{% endif %}
