<article{{ attributes }}>
<div class="pic"><a target="_blank" href="{{ store_url }}">{{ picture }}</a></div>
  <div class="txt">
    <p><a target="_blank" href="{{ store_url }}" class="title"><em>[{{ label }}]</em>{{ coupon.label }}</a></p>
    <p class="user">
    <span class="first"><strong>{{ store.deal_count.value }}</strong>人已享受优惠</span><span><strong>{{ store.follow_count.value }}</strong>人已关注</span>
    </p>
  </div>
</article>
