<div class="phonedown_banner_top"><img src="{{ theme_path }}/images/phonedown_banner.jpg"/></div>
 <div id="content">
  <div class="phonedowncon wrap_border col space">
  <div class="gkjs_box">
    <div class="left_box">
     <div class="icon"><img src="{{ theme_path }}/images/phonedown_icon_x.png"/></div>
     <h2>贵客——消费者版</h2>
     <p>贵客”消费者版“让您省时省力、随时随地了解当地休闲娱乐资讯，可以搜索您附近的优惠信息，商家信息，并且享受贵客用户的专属购物优惠。</p>     
    </div>
    <div class="right_box">
     <div class="icon"><img src="{{ theme_path }}/images/phonedown_icon_s.png"/></div>
     <h2>贵客——商户版</h2>
     <p>“贵客“商户版”帮助商家低成本推广，点对点精准营销。商家可以通过”贵客“商家版随时随地发布、维护商品信息和优惠信息。</p>
    </div>
  </div>
  
  <div class="gkdown_box">
    <div class="left_side">
     <h3>下载到电脑后安装至手机</h3>
     <div class="download">
      <a href="{{ links.consumer.android }}" class="android">android下载</a>
      <a href="{{ links.consumer.iphone }}" class="iphone">iphone下载</a>
     </div>
     <div class="scan">
      <p><img src="{{ theme_path }}/images/scan_grb.png"/></p>
      <p class="txt">扫描二维码下载</p>
     </div>
    </div>
    <div class="right_side">
     <h3>下载到电脑后安装至手机</h3>
     <div class="download">
      <a href="{{ links.store.android }}" class="android">android下载</a>
      <a href="{{ links.store.iphone }}" class="iphone">iphone下载</a>
     </div>
     <div class="scan">
      <p><img src="{{ theme_path }}/images/scan_shb.png"/></p>
      <p class="txt">扫描二维码下载</p>
     </div>
    </div>
  </div>
 </div>
</div>
